body {
 margin: 0;
}

#wrapper {
    display: grid;
    grid-template-areas: 
    'hd nv'
    'mn mn'
    'ft ft'
    ;
    grid-template-columns: 50% 50%;
    grid-template-rows: 8rem 1fr 8rem;
    height: 100vh;
    width: 100vw;
}

#header {
    grid-area: hd;
    background-color: pink;
}

#nav {
    grid-area: nv;
    background-color: teal;
}

#main {
    display: grid;
    grid-area: mn;
    grid-template-areas: 
    'img ar'
    'img btn'
    ;
    background-color: mediumorchid;
}

#footer {
    grid-area: ft;
    background-color: mediumaquamarine;
}